* {
  font-family: "Arial";
}

html,
body,
#app,
#app > div {
  height: 100%;
  width: 100%;
}

body {
  background-color: #457b9d;
  color: white;
  height: 100%;
  margin: 0px;
}

header {
  font-size: 100px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 70px;
}

h3 {
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 70px;
}

h2 {
  padding: none;
}

h4 {
  text-shadow: 2px 2px 4px #000000;
}

p {
  color: #1d3557;
}

.home > button {
  transition: transform 0.2s ease-out;
}

.home > button:hover {
  transform: scale(1.05);
}

.label {
  text-align: center;
  margin-bottom: 50px;
  display: absolute;
  top: 200px;
  text-shadow: 2px 2px 4px #000000;
}

textarea {
  resize: none;
  outline: none;
}

.get-started {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  color: white;
  border-radius: 25px;
  border: none;
  background-color: #e63946;
  font-size: 15px;
  resize: none;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.input {
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.zoom-link {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  height: 35px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
}

.zoom-link > input {
  color: #1d3557;
}

.tags {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 100px;
}

.home > .buttons > button {
  transition: transform 0.2s ease-out;
}

.home > .buttons > button:hover {
  transform: scale(1.05);
}

.matched > .buttons > button {
  transition: transform 0.2s ease-out;
}

.matched > .buttons > button:hover {
  transform: scale(1.05);
}

.content {
  margin-left: 20%;
  margin-right: 20%;
}
